pytest
testcontainers[postgres]
testcontainers[rabbitmq]
testcontainers[minio]
grpcio
grpcio-tools
py-grpc-prometheus
prometheus_client
protobuf
psycopg
psycopg-binary
psycopg-pool
redis
fakeredis
dotenv
pytest
librosa
celery
pytest-grpc
python-magic
minio